# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/indexLayout.xml
**/.idea/**/projectSettingsUpdater.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
*.log
*.tmp
*.cache
.vs/
bin/
obj/


# Unit Tests
TestResult.xml
*.trx
*.coverage

Thumbs.db
Desktop.ini
.DS_Store